PROJECT_ROOT='/workspace/terraform-beginner-bootcamp-2023'


#These are examples, never, never commit your credentials on a public repository
AWS_ACCESS_KEY_ID=AKIAIOSFODNN7EXAMPLE
AWS_SECRET_ACCESS_KEY=wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
AWS_DEFAULT_REGION=us-west-2