user_uuid = "b61b5450-5109-4ae8-8396-1b13c6e55e77"
bucket_name = "tf-beginner-bootcamp-qrtrlolnx8hbxaui"
index_html_filepath = "/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath = "/workspace/terraform-beginner-bootcamp-2023/public/error.html"
content_version = 5